html
head
    title Data
body
    -const obj=object
    h1 Student Details
    h2 Name: #{obj.name}
    h2 Email: #{obj.email}
    h2 Course: #{obj.course}
    h2 Hobbies: #{obj.hobbies}
    //- - obj.hobbies.split(",").forEach(hobby=>{
    //-     p(style="color: green;font-size: large;")= hobby
    //- - })

    //- - for(hobby in object.hobbies){
    //-     p #{obj.hobbies[hobby]}
    //- - }

    //- p #{typeof(obj.hobbies)}